<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="tet/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
	<title>Home - Shopme Admin Control Panel</title>
	
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/fontawesome/all.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/style.css}">
	<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>

<div class="container-fluid">
	<div th:insert="~{fragments/fragments_nav.html :: nav}"></div>
	<div>
		<h2>Manage Users</h2>
		<a th:href="@{/users/new}">Create New User</a>
	</div>
	
	<div th:if="${message != null}" class="alert alert-success text-center">
		[[${message}]]
	</div>
	
	<div>
		<table class="table table-bordered table-striped table-hover table-responsive-xl">
			<thead class="thead-dark">
				<tr>
					<th>User ID</th>
					<th>Photos</th>
					<th>E-mail</th>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Roles</th>
					<th>Enabled</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="user : ${listUsers}">
					<td>[[${user.id}]]</td>
					<td><span class="fas fa-portrait fa-3x icon-silver"></span></td>
					<td>[[${user.email}]]</td>
					<td>[[${user.firstName}]]</td>
					<td>[[${user.lastName}]]</td>
					<td>[[${user.getFormattedRoles()}]]</td>
					<td>
						<a th:if="${user.enabled == true}" 
						   class="fas fa-check-circle fa-2x icon-green"
						   href="">
						</a>
						<a th:if="${user.enabled == false}" 
						   class="fas fa-times-circle fa-2x icon-dark"
						   href="">
						</a>
					</td>
					<td>
						<a class="fas fa-edit fa-2x icon-green" href=""></a>
						<a class="fas fa-trash fa-2x icon-dark" href=""></a>
					 </td>
				</tr>
			
			
			</tbody>
		</table>
	</div>
	
	<div th:insert="~{fragments/fragments_footer.html :: footer}"></div>
</div>


</body>
</html>